extends templates/default

block content
  
  div(class='principal' style='background-image: url(background.jpg);' id='historial')
    div(class='col-md-6 col-md-offset-3' id='historial')
      div(class='panel panel-default' id='historial')
      each landmark in landmarks
        div(class='panel-heading' id='historial')= landmark.nombre
        div(class='panel-body' id='historial')
          
            div(class='form-group')
              
                img.image(src=landmark.imagen width=300 height=240 align='right' id='historial')

               
                p= landmark.detalles
                audio(controls='')
                    source(src=landmark.wav , type='audio/wav')
                a(href=landmark.audio target="_blank") mapa


        
